log_level = "debug"
monitoring_report_interval_ms = 1000

agent_uuid = "auto_gen"
connect_timeout_ms = 1000
terminal_shell = "cmd"

[[server]]
name = "test_server1"
uuid = "875089ec-4efd-4255-8212-04bb6b11585e"
token = "test_server1_token"
ws_url = "ws://127.0.0.1:3000/"

[[server]]
name = "test_server2"
uuid = "875089ec-4efd-4255-8212-04bb6b11585e"
token = "test_server2_token"
ws_url = "ws://127.0.0.1:3000/"